* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Сброс стилей для HTML и body */
html, body {
    height: 100%;
    font-family: "Montserrat", sans-serif;
    line-height: 1.1;
    overflow-x: hidden;
}

/* Сброс стилей для списков */
ul, ol {
    list-style: none;
}

/* Сброс стилей для ссылок */
a {
    text-decoration: none;
    color: inherit;
}

/* Сброс стилей для кнопок */
button {
    border: none;
    background: none;
    cursor: pointer;
}

/* Сброс стилей для изображений */
img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Сброс стилей для таблиц */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* Сброс стилей для полей ввода */
input, textarea, select {
    border: none;
    outline: none;
    font-family: inherit;
}

/* Сброс стилей для заголовков */
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-size: inherit;
}

/* Сброс стилей для параграфов */
p {
    margin: 0;
}
